#workskin .align-center {
  text-align: center;
}

#workskin .align-right {
  text-align: right;
}

#workskin .align-justify {
  text-align: justify;
  text-justify: inter-word;
}

#workskin .text-small {
  font-size: 0.875em;
}

#workskin .text-big {
  font-size: 1.14em;
}

#workskin .desc {
  display: inline-block;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  overflow: hidden;
  color: transparent;
  position: absolute;
}
