#workskin .fakenews {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  font-size: 0.85em;
  text-align: justify;
  text-justify: inter-word;
  max-width: 85%;
  margin: 1.25em auto;
  background-color: #f9f9f9;
  color: #2a2a2a;
  padding: 1.25em 2.5em;
  border: 1px solid #efefef;
  border-radius: 0.5em;
  width: fit-content;
  line-height: 1.4;
  margin-inline-start: 0;
  border-inline-start: 0 none transparent;
}

#workskin .fakenews h5 {
  font-family: "Proxima Nova", sans-serif;
  text-decoration: none;
  font-style: normal;
  color: #2a2a2a;
  font-weight: 700;
  font-size: 1em;
  margin: 1.5em 0 1em;
  border: 0;
  padding: 0 0 0.5em;
}

#workskin .fakenews p+h5 {
  padding: 1.5em 0 0.5em;
}

#workskin .fakenews h6 {
  font-family: "Proxima Nova", sans-serif;
  text-decoration: underline;
  font-style: normal;
  color: #2a2a2a;
  font-weight: 400;
  font-size: 1em;
  margin: 1em 0;
  border: 0;
  padding: 0;
}

#workskin .fakenews.times,
#workskin .fakenews.times h5,
#workskin .fakenews.times h6 {
  font-family: Georgia, "Times New Roman", Times, "Droid Serif", serif;
  font-size: 1em;
}

#workskin .fakenews.mono,
#workskin .fakenews.mono h5,
#workskin .fakenews.mono h6 {
  font-family: 'Monaco', 'Consolas', Courier, monospace;
  text-transform: uppercase;
}

#workskin pre.fakenews {
  font-family: 'Monaco', 'Consolas', Courier, monospace;
  padding: 2.5em;
  line-height: 1.5;
  white-space: pre;
  overflow-x: auto;
}
